#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.9) 10%, transparent), url("images/freedom.jpg") left 10% bottom 70%/cover no-repeat border-box, #ff1b68;
    /* padding: 0.6rem; */
    height: 50vh;
    margin-top: 2.6rem;
    position: relative;
}

#product-overview h1 {
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 25%;
    left: 5%
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.plan-list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    color: #19b84c;
    background: #ffffff;
    padding: 0.4rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: #ffffff;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features li {
    margin: 0.5rem 0;
}

#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: #ffffff;
    margin: 2rem;
}

.key-features__list {
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature_description {
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.key-feature__image {
    width: 128px;
    height: 128px;
    text-align: center;
    /* background: #ffffff; */
    background: #ffcede;
    border-radius: 50%;
    /* border: 2px solid #858585; */
    border: 2px solid #424242;
    margin: 0 auto;
    padding: 20px;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }